@model Forum.Data.ViewModels.PostVM
<form asp-action="Edit" asp-controller="Post" asp-for="Id" class="col-12 p-0" data-id=@Model.Id>
	<div asp-validation-summary="ModelOnly"></div>
	<input asp-for="Id" hidden />
	<div class="input-group">
		<textarea class="form-control" asp-for="Message"></textarea>
		<div class="d-flex flex-column">
			<button type="submit" class="btn btn-danger" data-back="back">Back</button>
			<button type="submit" class="btn btn-success" data-save="edit">Edit</button>
		</div>
	</div>
	<span asp-validation-for="Message" class="text-danger"></span>
</form>